<div class="row">
  <div class="col-12 mb-1 pt-1 pb-1 d-flex justify-content-between">
      <app-data-cell [product]="prod" [key]="'id'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'catId'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'name'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'description'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'image'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'price'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'stock'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'featured'"></app-data-cell>
      <app-data-cell [product]="prod" [key]="'active'"></app-data-cell>
  </div>
</div>

<!-- <div class="row">

  <div class="col-1"> {{product.id}} </div>
  <div class="col-1"> {{product.catId}} </div>
  <div class="col-2"> {{product.name}} </div>
  <div class="col-2"> {{product.description}} </div>
  <div class="col-2"> {{product.image}} </div>
  <div class="col-1"> {{product.price}} </div>
  <div class="col-1"> {{product.stock}} </div>
  <div class="col-1"> {{product.featured}} </div>
  <div class="col-1"> {{product.active}} </div>
</div> -->
