
<!-- ### 1. Termékkártya komponens
Ez jeleníti meg az egyes termékeket. Az alábbi részei vannak:
- Termékkép, teljes szélességében a kártya felső 30 - 50% át foglalja el.
- Alatta egymás alatt: név, rövid leírás, készlet, ár. A formázás rátok van bízva. 
Kiindulásnak jó lehet (de módosítsátok): `https://getbootstrap.com/docs/4.6/components/card/#example`
- Működése: input tulajdonságként kapja meg a megjelenített terméket, 
pld: `<app-product-card [product]="product"></app-product-card>`
- Statikus komponens, azaz nem kell bele output tulajdonság (egyenlőre :)))) -->

<div class="card h-100">
    <img class="card-img-top p-3" [src]="product.image" alt="Card image cap">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{product.name}}</h5>      
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Leírás: {{product.description}}</li>
          <li class="list-group-item">Raktár: {{product.stock}}</li>
          <li class="list-group-item">Ár: {{product.price}} Ft</li>
        </ul>      
    </div>
    <div class="card-footer mt-auto">
        <a href="#" class="card-link"><strong>Részletek</strong></a>
    </div>
  </div>

 