<div class="container">

    <div class="row">

        <div class="col-12 ">

            <h1 class=" cím">Újdonságok</h1>

            <app-product-turner [prods]="featList" class="row d-flex justify-content-between">
            </app-product-turner>

            <h1 class="cím">Akciós termékek</h1>
            <app-product-turner [prods]="saleList" class="row d-flex justify-content-between "></app-product-turner>
            <h1 class="cím">Összes termék</h1>
            <app-product-turner [prods]="prodList" class="row d-flex justify-content-between"></app-product-turner>

        </div>



    </div>
</div>